.body {
  background-image: url("../backgroundImage7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.body h1 {
  color: #fff;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 25%;
}

.button {
  color: #565656;
  font-size: medium;
  padding: 15px;
  margin-right: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-0.05in);
}

button:disabled,
button[disabled] {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

button:disabled:hover {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: #565656;
  transform: none;
  box-shadow: none;
  cursor: auto;
}

.malelink {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #565656;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 100%;
  line-height: 135px;
  font-size: 17px;
}

.malelink:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px rgba(86, 175, 253, 0.3);
  transform: translateY(-0.05in);
}

.femalelink {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #565656;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 100%;
  line-height: 135px;
  font-size: 17px;
}

.femalelink:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px rgba(255, 185, 98, 0.3);
  transform: translateY(-0.05in);
}
